{% for movie in movies %} 
    <div class="movie" data-movie-id="{{ movie.id }}">
        {% include "partials/playlist_modal.html.twig" %}
        <div class="action-icons-container">
            {% if is_granted("ROLE_USER") %}
                <img id="playlistLink" data-movie-id="{{ movie.id }}" class="action-icon" src="{{ asset('icons/playlist.svg') }}" alt="Ajouter à une playlist">
                {% if  movie.id in favoriteMovies %}
                    <img class="action-icon action-icon-right favorite" src="{{ asset('icons/favorite.svg') }}" alt="Retirer des favoris">
                {% else %}
                    <img class="action-icon action-icon-right not-favorite" src="{{ asset('icons/not-favorite.svg') }}" alt="Ajouter aux favoris">
                {% endif %}
            {% endif %}
        </div>
        {% if movie.poster_path %}
            <a class="movie-img-link" href="{{ path('app_movie_show', {'id': movie.id}) }}">
                <img class="movie-img" src="{{ 'https://image.tmdb.org/t/p/w500' ~ movie.poster_path }}" alt="Affiche du film">
            </a>
        {% else %}
            <a class="movie-img-link" href="{{ path('app_movie_show', {'id': movie.id}) }}">
                <img class="movie-img n-a" src="{{ asset('images/na2.webp') }}" alt="Affiche non disponible" alt="Affiche du film">
            </a>
        {% endif %}
        <div class="movie-infos">
            <a class="movie-title" href="{{ path('app_movie_show', {'id': movie.id}) }}">
                {{ movie.title|u.truncate(25, '...') }}
            </a>
            <div class="movie-numbers">
                <div class="movie-year">
                    <img src="{{ asset('icons/release-date.svg') }}" alt="Date de sortie">
                    {% if movie.release_date is defined %}
                        <span>{{ movie.release_date|date('Y') }}</span>
                    {% else %}
                    <span>N/A</span>
                    {% endif %}
                </div>
                <div class="movie-gauge-container">
                    {% if movie.vote_average is defined %}
                        <canvas 
                            id="gauge{{ movie.id }}"
                            class="gauge"  
                            data-movie-id="{{ movie.id }}"
                            data-movie-note="{{ (movie.vote_average * 10)|round }}" 
                            data-movie-note-count="{{ movie.vote_count }}">
                        </canvas>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
