{% if recommendations is not empty %}
    <div class="m-4">
        <span class="bg-dark text-light rounded fw-normal fs-3 p-2">Films similaires</span>
    </div>
    <div class="recommendations-container">
        <div class="recommendations bg-dark rounded">
            {% for recommendation in recommendations %}
                <div class="recommendation">
                    {% if recommendation.poster_path %}
                            <a href="{{ path('movie_show', {'id': recommendation.id}) }}" class="recommendation-link">
                                <img class="recommendation-img" src="{{ 'https://image.tmdb.org/t/p/w500' ~ recommendation.poster_path }}" alt="Affiche du film">
                            </a>
                    {% else %}
                        <a class="movie-img-link" href="{{ path('movie_show', {'id': recommendation.id}) }}">
                            <img class="w-100 rounded-top n-a" src="{{ asset('images/na2.webp') }}" alt="Affiche non disponible">
                        </a>
                    {% endif %}
                    <div class="">
                        {{ (recommendation.vote_average * 10)|round }}%
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
