<div class="bg-dark text-white">
	{{ form_errors(form) }}
	{{ form_start(form, {'action': path('app_movie_advanced_search'), 'method': 'POST'}) }}
        <div class="">
            {{ form_label(form.primary_release_year) }}
            {{ form_errors(form.primary_release_year) }}
            {{ form_widget(form.primary_release_year) }}
        </div>

        <div class="">
            {{ form_label(form.primary_release_date_gte) }}
            {{ form_errors(form.primary_release_date_gte) }}
            {{ form_widget(form.primary_release_date_gte) }}
        </div>

        <div class="">
            {{ form_label(form.primary_release_date_lte) }}
            {{ form_errors(form.primary_release_date_lte) }}
            {{ form_widget(form.primary_release_date_lte) }}
        </div>
	{{ form_end(form) }}
</div>
