{% extends 'base.html.twig' %}

{% block title %}Playlists{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background-image: url("{{ asset('images/wallpapers/person/show.webp') }}");
            background-position: center;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block body %}
    {% if playlists is not empty %}
        <div class="page-playlists">
            {% for playlist in playlists %}
                <div class="playlist" data-playlist-id="{{ playlist.id }}" id="playlist{{ playlist.id }}">
                    {% include "partials/modals/_delete_playlist_modal.html.twig" %}
                    {% if app.user == playlist.user %}
                        <a class="playlist-btn delete-btn btn rounded-circle" id="deletePlaylistBtn">
                            <img src="{{ asset('icons/trash.svg') }}" alt="">
                        </a>
                        <a class="playlist-btn edit-btn rounded-circle" href="{{ path('app_playlist_show', {'id': playlist.id}) }}">
                            <img src="{{ asset('icons/edit.svg') }}" alt="">
                        </a>
                        <a class="playlist-btn lock-btn btn rounded-circle" id="lockPlaylistBtn" data-is-public="{{ playlist.isPublic }}">
                            {% if playlist.isPublic %}
                                <img class="unlock" src="{{ asset('icons/unlock.svg') }}" alt="">
                            {% else %}
                                <img class="lock" src="{{ asset('icons/lock.svg') }}" alt="">
                            {% endif %}
                        </a>
                    {% else %}
                        <a class="playlist-btn show-btn rounded-circle" href="{{ path('app_playlist_show', {'id': playlist.id}) }}">
                            <img src="{{ asset('icons/more-dark.svg') }}" alt="">
                        </a>
                    {% endif %}
                    <a href="{{ path('app_playlist_show', {'id': playlist.id}) }}" class="fw-bold m-4 custom-blue-1 text-decoration-none">{{ playlist.name|u.truncate(22, '...') }}</a>
                    <div class="playlist-movie-container">
                        {% for key, movies in moviesByPlaylist %}
                            {% if key == playlist.id %}
                                    <div id="playlistCarousel{{ playlist.id }}" class="carousel slide" data-bs-interval="false" data-bs-wrap="false">
                                        <div class="carousel-inner">
                                            {% for key, movie in movies %}
                                                <div class="carousel-item {% if key == 0 %}active{% endif %} ">
                                                        <img class="d-block w-100 slider-image" src="{{ 'https://image.tmdb.org/t/p/w500' ~ movie.poster_path }}" alt="slide {{ key + 1 }}">
                                                </div>
                                            {% endfor %}
                                        </div>
                                        {% if playlist.movieIds|length > 1 %}
                                            <a class="carousel-control-prev" href="#playlistCarousel{{ playlist.id }}" role="button" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">
                                                    <img class="carousel-arrow" src="{{ asset('icons/prev-img.svg') }}">
                                                </span>
                                            </a>
                                            <a class="carousel-control-next" href="#playlistCarousel{{ playlist.id }}" role="button" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">
                                                    <img class="carousel-arrow" src="{{ asset('icons/next-img.svg') }}">
                                                </span>
                                            </a>
                                        {% endif %}
                                    </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <span class="text-light mt-2 custom-blue-1">{{ playlist.movieIds|length }} film{% if playlist.movieIds|length > 1 %}s{% endif %}</span>
                    <div class="created-at">
                        <img src="{{ asset('icons/release-date.svg') }}" alt="Date de création">
                        <span class="text-light m-2">{{ playlist.createdAt|format_datetime('relative_medium', 'none', locale='fr') }}</span>
                    </div>
                    <div class="playlist-username">
                        <img src="{{ asset('icons/user.svg') }}" alt="">
                        {% if app.user != playlist.user %}
                            <a href="{{ path('app_playlist_user', {'userId': playlist.user.id}) }}" class="custom-blue-1 text-decoration-none">
                                <span>{{ playlist.user.username }}</span>
                            </a>
                        {% else %}
                            <span class="text-white">Vous</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="vh-100">
            <p class="w-75 mx-auto text-center rounded bg-dark text-light mt-5 p-3 fs-3">Aucune playlist</p>
        </div>
    {% endif %}
{% endblock %}
